/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    
}

/* Container styling */
.order-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.order-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Form styling */
.order-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.order-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Button styling */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(13, 96, 82);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgb(47, 232, 201);
}

/* Loading text styling */
.loading-text {
    text-align: center;
    color: #999;
    font-size: 18px;
}